* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --red: #bb0e0e;
    --light-grey: #eee;
    --blue: #d1e1df;
    --grey: #3a241d;
    --light-blue: #e1eeec;
}

body {
    font-family: helvetica, arial, sans-serif;
    height: 100%;
    width: 100%;
}

h1 {
    color: var(--red);
    text-align: center;
}

html, #page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    background-color: var(--light-grey);
    width: 18%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right-container {
    order: 2;
}

#terrarium {
    width: 64%;
}

.plant-holder {
    height: 14%;
    position: relative;
}

.plant {
    max-width: 150%;
    max-height: 150%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    }

.jar-walls {
    height: 80%;
    width: 60%;
    background: var(--blue);
    border-radius: 3rem;
    position: absolute;
    bottom: 2.8%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
}

.jar-top {
    width: 40%;
    height: 5%;
    background: var(--blue);
    position: absolute;
    bottom: 82%;
    left: 30%;
    opacity: 0.7;
    z-index: 1;
}

.jar-bottom {
    width: 40%;
    height: 1%;
    background: var(--blue);
    position: absolute;
    bottom: 2%;
    left: 30%;
    opacity: 0.7;
}

.dirt {
    width: 58%;
    height: 5%;
    background: var(--grey);
    border-radius: 0 0 3rem 3rem;
    position: absolute;
    bottom: 4%;
    left: 21%;
    opacity: 0.7;
    z-index: -1;
}

.jar-glossy-long {
    width: 4%;
    height: 20%;
    background: var(--light-blue);
    position: absolute;
    left: 7%;
    opacity: 1;
    bottom: 20%;
    border-radius: 5ch;
}

.jar-glossy-short {
    width: 4%;
    height: 7%;
    border-radius: 5ch;
    background: var(--light-blue);
    position: absolute;
    left: 7%;
    opacity: 1;
    bottom: 43%;
}